h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 2%;
    text-align: center;
    color: #01579B;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 15px;
    width: 80%;
    margin-left: 10%;
    text-align: justify;
}
