h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 2%;
    text-align: center;
    color: #01579B;
}
p{
    margin-left: 5%;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: justify;
}
.contentC{
    margin-left: 30%;
    align-items: center;
    height: 100%;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.form{
    width: 40%;
    align-content: center;
    border: 1px solid #E1F5FE;
    background-color: #E1F5FE;
    align-items: center;
    margin-left: 5%;
    padding: 1%;
}
label{
    font-family: Arial, Helvetica, sans-serif;
}
button{
    margin-left:40%;
}